.aboutcontainer {
    margin: 4rem 6rem;
    text-align: start;

}

.aboutcontainer h1 {
    padding-bottom: 1rem;
}

.aboutcontainer p {
    padding-bottom: 2rem;
}

@media screen and (max-width: 850px){
    .aboutcontainer {
        margin: 4rem 2rem;
    }
}